---
import BaseLayout from '../layouts/BaseLayout.astro'
import Greeting from '../components/Greeting.jsx'

const pageTitle = 'Home Page'
---

<BaseLayout pageTitle={pageTitle}>
  <p>Hello this is the home page</p>
  <Greeting client:load messages={['Hello', 'Hola', 'Bonjour']} />
</BaseLayout>
